<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find</title>
    <link rel="stylesheet" href="findsheet.css">
</head>
<body>
    <div class="navbar">
        <div class="lilnavbar">
            <a class="logo" href="index.html">Car<span>Pool</span></a>
            <a class="boutton" href="signin.html">Already have an account</a>
        </div>
    </div>
    <hr>

    <div class="main">
        <div class="zone">
            <form action="{{ url_for('search_rides') }}" method="POST">
                <label for="from_location">From:</label>
                <input class="from" type="text" name="from_location" id="from_location" placeholder="From" required><br>

                <label for="to_location">To:</label>
                <input class="to" type="text" name="to_location" id="to_location" placeholder="To" required><br>

                <p class="datetime">Day and Time</p>
                <input type="datetime-local" name="datetime" id="datetime" required><br>

                <button class="button" type="submit">Find A Ride</button>
            </form>
        </div>

        {% if rides %}
            <h3>Available Rides</h3>
            <ul>
                {% for ride in rides %}
                    <li>
                        From: {{ ride.from_location }}<br>
                        To: {{ ride.to_location }}<br>
                        Date and Time: {{ ride.datetime }}<br>
                        Car Brand: {{ ride.car_brand }}<br>
                        Price: {{ ride.price }}<br>
                        Available Seats: {{ ride.available_seats }}<br>
                        Phone Number: {{ ride.phone_number }}<br>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <a class="button" id="button" href="#" onclick="controle()">Find A ride</a>

        <h5>Here is a map if you need</h5>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6791792.024814696!2d5.068121084672593!3d33.778628920483065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x125595448316a4e1%3A0x3a84333aaa019bef!2sTunisie!5e0!3m2!1sfr!2stn!4v1645090974647!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</body>
</html>
